body {
background-color: #d274ba;
color: white;
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #d241b3;
color: white;
font-family: "Bai Jamjuree", sans-serif;
}